#categories{
    background-color: rgba(221,221,221,.05);
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: -ms-flex; /* IE */
    display: -o-flex; /* Opera */
    display: flex;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
}
h4,h5,img{
    margin: 0;
    padding: 0;
}
#categories h4{
    font-size: 1.25em;
    margin-bottom: .1em;
    font-weight: 700;

}
#categories h5{
    font-size: 1.125em;
    font-weight: 400;

}

@media screen and (max-width: 600px) {
    #categories{
        -webkit-align-items: center; /* Safari */
        align-items: center;
    }
    #categories h5{
      display:none;
    }
}
